{% capture currentYear %}{{ 'now' | date: '%Y' }}{% endcapture %}
<footer class="relative pt-24 pb-6">
  <div class="container mx-auto px-4">
    <!-- Primera fila: contenido alineado a la izquierda -->
     <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl font-semibold">{{ site.data[site.lang].footer.title | default: "Esta edición es mantenida por" |
          localize}}</h4>
        <span class="text-lg dark:text-slate-300 my-4 block">
          {{ site.data[site.lang].footer.description | default: "Romina De León (HD LAB-CONICET)" }}
        </span>
        <div class="my-8">
        {% include social.html %}</div>
      </div></div>
    <!-- centrada segunda aprte --> <div class=" w-full"> 
        <hr class="my-6 border-gray-300">
        
        <div class="flex flex-col items-center justify-center">
          <!-- Logo -->
          <div class="w-full flex justify-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/3d/Conicet_Logo_con_letras.png" alt="CONICET"
                 class="footer-logo" />
          </div>
          
          <!-- Texto de licencia -->
          <div class="license-text text-xs text-gray-500 font-semibold py-1">
            Licencia Creative Commons <span id="get-current-year">{{currentYear}}</span>
            <a href="{{ site.url }}" class="text-gray-500 hover:text-gray-800 dark:text-slate-500 dark:hover:text-slate-200" target="_blank">
              {{site.title}}
            </a>
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="text-gray-500 hover:text-gray-800 dark:text-slate-500 dark:hover:text-slate-200" target="_blank">
              (CC BY-NC-SA 4.0)
            </a>
          </div>
          <a href="https://doi.org/10.5281/zenodo.15859071"><img src="https://zenodo.org/badge/1005883457.svg" alt="DOI"></a>
        </div>
      </div>
      </div>
</footer>
