<div class="flex flex-wrap gap-0 my-0 justify-end text-justify">
  <h5>Compartir en:</h5>
  <a class="p-1 mr-1 rounded-full text-white share-button" target="_blank" rel="noopener" href="https://facebook.com/sharer/sharer.php?u={{ site.url | uri_escape | append: page.url }}" aria-label="Share on Facebook">
    <i class="fab fa-facebook-f fa-lg"></i>
  </a>
  <a class="p-1 mr-1 rounded-full text-white share-button" target="_blank" rel="noopener" href="https://twitter.com/intent/tweet?url={{ site.url | uri_escape | append: page.url }}&text={{ page.title }}" aria-label="Share on Twitter">
    <i class="fab fa-twitter fa-lg"></i>
  </a>
  <a class="p-1 mr-1 rounded-full text-white share-button" target="_blank" rel="noopener" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url | uri_escape | append: page.url }}&title={{ page.title }}&summary={{ page.title }}&source={{ site.url | uri_escape }}" aria-label="Share on Linkedin">
    <i class="fab fa-linkedin fa-lg"></i>
  </a>
  <a class="p-1 mr-1 rounded-full text-white share-button" target="_blank" rel="noopener" href="https://pinterest.com/pin/create/button/?url={{ site.url | uri_escape | append: page.url }}&media={{ site.url | uri_escape }}&description={{ page.title }}" aria-label="Share on Pinterest" draggable="false">
    <i class="fab fa-pinterest fa-lg"></i>
  </a>
  <a class="p-1 mr-1 rounded-full text-white share-button" target="_blank" rel="noopener" href="https://reddit.com/submit/?url={{ site.url | uri_escape | append: page.url }}&resubmit=true&title={{ page.title }}" aria-label="Share on Reddit" draggable="false">
    <i class="fab fa-reddit fa-lg"></i>
  </a>
  <a class="p-1 mr-1 rounded-full text-white share-button" target="_blank" rel="noopener" href="https://wa.me/?text={{ page.title | uri_escape | append: '%20' | append: site.url }}" aria-label="Share on Whatsapp" draggable="false">
    <i class="fab fa-whatsapp fa-lg"></i>
  </a>
  <a class="p-1 mr-1 rounded-full text-white share-button" target="_blank" rel="noopener" href="https://telegram.me/share/url?text={{ page.title | uri_escape }}&url={{ site.url | uri_escape | append: page.url }}" aria-label="Share on Telegram" draggable="false">
    <i class="fab fa-telegram fa-lg"></i>
  </a>
  <a class="p-1 mr-1 rounded-full text-white share-button" target="_blank" rel="noopener" href="mailto:?subject={{ page.title | uri_escape }}&body={{ site.url | uri_escape | append: page.url }}" aria-label="Share by Email" draggable="false">
    <i class="fas fa-envelope fa-lg"></i>
  </a>
  <a class="p-1 mr-1 rounded-full text-white share-button"
   target="_blank" rel="noopener"
   href="https://github.com/rominicky/comentarios-cabeza-de-vaca"
   aria-label="Ver en GitHub">
  <i class="fab fa-github fa-lg"></i>
</a>
<a href="https://discord.com/channels/@me" target="_blank" rel="noopener noreferrer" class="p-1 mr-1 rounded-full text-white share-button" onclick="copyLink()" aria-label="Copy Link">
    <i class="fab fa-discord fa-lg"></i></a>
</div>
<script>
  function copyLink() {
    const link = window.location.href;
    navigator.clipboard.writeText(link).then(() => {
      alert('Enlace copiado. Pegalo en Discord para compartirlo.');
    });
  }
</script>
