<div class="flex flex-wrap gap-2 my-8">
  <!-- Twitter -->
  <a class="p-2" href="https://twitter.com/rominickyDL" aria-label="Twitter" title="Twitter">
    <i class="fab fa-twitter fa-lg"></i>
  </a>
  <!-- Facebook -->
  <a class="p-2" href="https://www.facebook.com/rominicky.dl/" aria-label="Facebook" title="Facebook">
    <i class="fab fa-facebook-f fa-lg"></i>
  </a>
  <a class="p-2" href="https://discord.com/users/rominicky" aria-label="Discord" title="Discord"> <i class="fab fa-discord fa-lg"></i>
  </a>
  <!-- GitHub -->
  <a class="p-2" href="https://github.com/rominicky" aria-label="GitHub" title="GitHub">
    <i class="fab fa-github fa-lg"></i>
  </a>
  <!-- Email -->
  <a class="p-2" href="mailto:romideleon@gmail.com" aria-label="Email" title="Email">
    <i class="fas fa-envelope fa-lg"></i>
  </a>
</div>

