<!DOCTYPE html>
<html>
    <link href="txtxpagina/tooltip.css" rel="stylesheet" type="text/css">
    <style>
   
       /* Glossarized Content */
   
       .glossarizer_replaced{
         border-bottom: 1px #333 dotted;
         cursor: help;
         display: inline;
       }
     </style>


  {% include head.html %}
  
  <!-- font-smoothing is only applied on dark themes -->
  <body class="font-smoothing">

    {% include header.html %}

<header class="clearfix">
  <div class="container mx-auto px-2 mt-4 mb-2 clearfix header-text">
    <h1 class="h0 inline-block py-2 mt-4 header-title">Viaje al Río de la Plata</h1>
    <!-- <div class="clearfix mb-4 py-1">
      <p class="h3 lh-condensed font-smoothing">{{ site.description }}</p>
      <div class="col-1 sm-width-full border-top-thick">
      </div>
    </div> -->
  </div>
</header>

<div id="main" class="container clearfix mx-auto px-2">
    <div xmlns="http://www.w3.org/1999/xhtml" class="row">
        <div class="col-left">   
           
           
           
           <h2>CAPÍTULO I</h2>
           
           <h2>LA NAVEGACIÓN DE AMBERES Á ESPAÑA</h2>
           
           
           <p>En primer lugar después de haber partido de <a href="https://vocabularyserver.com/lab/riodelaplatacolonial/index.php?tema=14" target="_blank"><span style="font-style: italic;">Andorf</span> (Amberes)</a> llegué á los 14 días á <a href="https://vocabularyserver.com/lab/riodelaplatacolonial/index.php?tema=317" target="_blank"><span style="font-style: italic;">Hispania</span></a>, á una ciudad que se llama <a href="" target="_blank"><span style="font-style: italic;">Khalles</span> (Cádiz)</a>, hasta allí  se  cuentan  400  <span style="font-style: italic;">millas</span> (leguas) por mar.</p> 
           
           
           <p>En la costa de aquella ciudad vi una <a href="https://vocabularyserver.com/lab/riodelaplatacolonial/index.php?tema=590" target="_blank">ballena</a> ó cetáceo de 35 pasos de largo, de la que se sacaron unos 30 cascos llenos de aceite,
              cascos como los de harenques.</p>
           
           <p>Cerca de la susodicha ciudad de <span style="font-style: italic;">Khalles</span> (Cádiz) estaban surtos 14 grandes navios bien provistos de toda munición y de cuanto
              era necesario, que estaban por emprender viaje al <a href="https://vocabularyserver.com/lab/riodelaplatacolonial/index.php?tema=358" target="_blank"><span style="font-style: italic;">Rieo delle Platta</span></a> en <a href="https://vocabularyserver.com/lab/riodelaplatacolonial/index.php?tema=324" target="_blank"><span style="font-style: italic;">Indiam</span> (Indias)</a>. También se hallaban allí 2500 Españoles y 150 Alto-Alemanes, <button class="balloon" data-balloon-pos="up" data-balloon-length="large" data-balloon="Donde dice Neerlandeses leáse Flamencos">Neerlandeses</button> y Sajones, junto con el capitán general de todos nosotros, que se llamaba <a href="https://vocabularyserver.com/lab/riodelaplatacolonial/index.php?tema=24" target="_blank"><span style="font-style: italic;">tum Pietro Mandossa</span></a>.</p>
           
           
           <p>Entre estos 14 navios estaba uno de propiedad de los señores <a href="https://vocabularyserver.com/lab/riodelaplatacolonial/index.php?tema=18" target="_blank"><span style="font-style: italic;">Sewastian Neithart</span></a>  y <a href="https://vocabularyserver.com/lab/riodelaplatacolonial/index.php?tema=49" target="_blank"><span style="font-style: italic;">Jacoben Welser</span></a> de <a href="https://vocabularyserver.com/lab/riodelaplatacolonial/index.php?tema=340" target="_blank">Niremburgo</a>, quienes mandaban á su <button class="balloon" data-balloon-pos="up" data-balloon-length="large" data-balloon="Agente mercantil que representaba a los socios comerciales en un país extranjero.">factor</button></p>
           
           </div>
        <div class="col-right"><a class="no-underline" target="_blank" href="./assets/img/paginas_ed/138.jpg"><img src="./assets/img/paginas_ed/138.jpg"></a></div>
     </div>
</div>

<div class="container mx-auto px-2 py-2 clearfix">
  {% include previous-next.html %}
</div>
<div class="container mx-auto px-2 py-2 clearfix">
  <a class="no-underline-hover py-1 block" style="color:#841212;" href="{{ site.baseurl}}/indice">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg> <span class="h5">Volver al Índice</span>
  </a>
</div>


    {% include footer.html %}


    <script src="txtxpagina/jquery.min.js"></script>
    <script src="txtxpagina/tooltip.js"></script>
    <script src="txtxpagina/jquery.glossarize.js"></script>
    <script>
  
    $(function(){
  
      $('#content').glossarizer({
        sourceURL: 'rio-de-la-plata-colonial.json',
        lookupTagName : 'div,p, ul, b,a,span',
        
        callback: function(){
          new tooltip();
        }
      });
  
  
    });
  
    </script>    

<script>
    var url = window.location.href;
      if (url.lastIndexOf("?q=") > 0) {
        var stringloc = url.lastIndexOf("?q=") + 3;
        var searchquery = decodeURIComponent(url.substr(stringloc));
        var regex = new RegExp("(?:^|)(" + searchquery + ")(?:$|)", "gim");
        var content = document.getElementById("main").innerHTML;
        document.getElementById("main").innerHTML = content.replace(regex, "<mark>$1</mark>");
      }
      (document);
</script>

<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
    $(function() {  $("#0").miniPreview();
    });
  </script><script xmlns="http://www.w3.org/1999/xhtml" src="{ site.baseurl }/assets/js/ruydiazPlaces.js" type="text/javascript"></script><script xmlns="http://www.w3.org/1999/xhtml" src="{ site.baseurl }/assets/js/map-balloon.js"></script>


  </body>

</html>
